@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tbvd0m');
  src:  url('fonts/icomoon.eot?tbvd0m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tbvd0m') format('truetype'),
    url('fonts/icomoon.woff?tbvd0m') format('woff'),
    url('fonts/icomoon.svg?tbvd0m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-mail:before {
  content: "\ea83";
}
